# OSX
#
.DS_Store

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/

# Bundle artifacts
*.jsbundle

# Debug keystore (but keep release keystore)
debug.keystore
app/debug.keystore

# Keep release keystore
!app/release.keystore
