# Dependencies
node_modules/
.pnp/
.pnp.js

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build outputs
/dist
/build
/out
/.next

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo
.DS_Store
*.sublime-project
*.sublime-workspace

# Testing
/coverage

# Misc
.cache/
.parcel-cache/
.temp/
.tmp/

# MongoDB data directory
server/data/db/

# Android build outputs
client/public/android/bud.apk
client/public/android/bud.aab
client/dist/android/bud.apk
client/dist/android/bud.aab